doctype html
html(lang="ko")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Woom
        link(rel="stylesheet", href="https://unpkg.com/mvp.css@1.12/mvp.css")
    body 
    header 
        h1 Woom
    main
<<<<<<< HEAD
        h3 Welcome to Woom
        h3 ??
=======
        div#welcome
            form#enter
                input(id="nick" placeholder="nickname",require,type="text")
                input(id="room_name" placeholder="room name",require,type="text")
                input(type="submit")
            h4 Open Rooms
            ul
        div#room
            h3
            ul
            form#msg
                input(placeholder="message",require,type="text")
                button Send
    script(src="/socket.io/socket.io.js") 
>>>>>>> 9242a5b00b6e6bfd0abb814f29b987b448409f13
    script(src="/public/js/app.js") 